.editor {
    background: var(--white);
    color: var(--theme);
}

.error__message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.write__input {
    height: 24rem;
    overflow-x: hidden;
    padding-bottom: 0.2rem;
}

.ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--white);
}

.editor img {
    max-width: 20rem; /* Ensure images don't exceed the container width */
    height: 20rem;    /* Maintain aspect ratio */
    margin: 1rem 0 1rem 1.5rem; 
    object-fit: cover;
    display: block;
}