.editor {
    background: var(--white);
    color: var(--theme);
    /* border: none !important; */
}

.write__input {
    background: var(--white);
    width: 100%;
    height: 22rem;
    /* border: none !important; */
}