.home {
  height: calc(100vh - 14vh);
  background: var(--theme);
  color: var(--white);
  display: flex;
  overflow: hidden;
}

/* .popup__overlay {
  position: absolute;
  height: 85vh;
  width: 90%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid orange;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

.popup__overlay.show {
  opacity: 1;
}

.close__button {
  position: absolute;
  height: 8vh;
  width: 8vh;
  top: 0;
  right: 0;
  background: none;
  cursor: pointer;
}

.close__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.popup__overlay__content {
  background: var(--theme);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top__input {
    height: 80%;
    display: flex;
    justify-content: center;
    border: 2px solid green;
}

.top__input p {
    width: 100%;
    border: 4px solid blue;
}

.bottom__input {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.bottom__input__content {
    height: 100%;
    width: 100%;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.bottom__input__error {
    height: 5%;
    margin: -1rem 0 1.8rem 0;
    font-size: 0.8rem;
    color: red;
}

.bottom__input__content input {
    padding: 0.4rem 1.2rem;
    height: 25%;
    width: 40%;
    border: none;
    border-radius: 1em;
}

.bottom__input__content input:focus {
    outline: none;
}

.bottom__input__content button {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
} */

.home__left {
  width: 65%;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 300;
}

.intro__name__span {
  color: var(--primary);
}

.intro__paragraph {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
}

.home__right {
  width: 35%;
  margin-right: 2rem;
}

.home__right img {
  height: 100vh;
}
