.card {
  width: 100%;
  height: 100%;
  background: #747474;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.card__title h1 {
  font-size: 2rem;
}

.card__all__content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  min-width: 700px;
}

.card__container {
  width: 100%;
  margin: 2rem;
  background: var(--theme);
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card__container__title {
  font-size: 1.5rem;
  text-align: center;
}

.card__container__image {
  box-sizing: border-box;
  width: 100%;
  height: 80%;
}

.card__container__image img {
  width: 100%;
  height: auto;
}

.card__container__desc {
  text-align: center;
  font-size: 1.2rem;
  height: 10%;
}

.card__container__button {
  /* text-align: center; */
  width: 100%;
  height: 5%;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__container__button__link {
  /* width: 40%; */
  background: var(--primary);
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1400px) {
  .card__container__image {
    box-sizing: border-box;
    width: 100%;
    height: 70%;
  }

  .card__container__image img {
    width: 100%;
    height: auto;
  }
  .card__container__desc {
    text-align: center;
    font-size: 1.2rem;
    height: 15%;
  }
}

@media (max-width: 1000px) {
  .card__all__content {
    margin-top: -4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    padding: 3rem;
    min-width: unset;
  }

  .card__container__image {
    box-sizing: border-box;
    height: auto;
  }

  .card__container__image img {
    width: 100%;
    height: auto;
  }
  .card__container__desc {
    text-align: center;
    font-size: 1.2rem;
    height: 20%;
    margin: 2rem 0;
  }

  .card__container__button__link {
    background: var(--primary);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
