.active {
  background-color: var(--primary);
}

.navbar {
  background: var(--theme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* overflow: hidden; */
  height: 14vh;
   z-index: 999;
   /* margin-bottom: 14vh; */
}

/* .navbar2__center * {
  display: none;
} */
.navbar2__center {
  display: none;
}

.navbar__left {
  width: 12.5rem;
  height: 6rem;
  max-height: 250px;
}

.navbar__left img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar__center {
  display: flex;
  width: 100%;
  height: 100%;
}

.navbar__center__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  list-style: none;
  cursor: pointer;
}

.navLinks {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
}

.blog__dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  position: relative;
}

.dropdown {
  background: transparent;
  font-size: 1.3rem;
  position: absolute;
  width: 10rem;
  background: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.dropdown .dropdown__lists {
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  list-style: none;
}

.dropdown .dropdown__lists .dropdown__list {
  padding: 0 0.5rem;
}

.dropdown .dropdown__lists .dropdown__list:hover {
  background: var(--primary);
  color: var(--white);
}

.dropdown .dropdown__lists .dropdown__list .dropdown__list__link {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--theme);
}

.dropdown .dropdown__lists .dropdown__list .dropdown__list__link:hover {
  color: var(--white);
}

.logout__button {
  /* width: 10%; */
  padding: 0.5rem 1rem;
  border: none;
  background: var(--primary);
  color: var(--white);
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .navbar {
    width: 100%;
    position: fixed;
    /* background: red; */
    top: 0;
    /* overflow-y: hidden; */
  }

  .navbar__left {
    position: fixed;
    cursor: pointer;
    z-index: 100;
  }
  
  .navbar__center {
    display: none;
  }
  
  .navbar2__center {
    display: block;
    position: relative;
    height: 100%;
    /* width: 12%; */
    width: 100%;
  }
  
  .navbar2__center .hamburger {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--white);
  }
  
  .navbar2__center__links {
    width: 100%;
    /* height: 60vh; */
    background: red;
    background: var(--theme);
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
    z-index: 888;
  }
  
  .navbar2__center__link {
    width: 100%;
    /* background: green; */
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 700;
    z-index: 888;
  }
  
  .navbar2__center__link .navLinks {
     font-size: 1.5rem;
   }

   .navbar2__center__link .blog__dropdown {
    display: flex;
    cursor: pointer;
  }

  .dropdown__list {
    background: inherit;
    margin-top: -10px;
    margin-bottom: -15px;
    transition: all 0.5s ease-out;
    width: 80%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .dropdown__list .dropdown__list__link {
    color: lightgrey;
    text-decoration: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
  }

  .dropdown__list .dropdown__list__link:hover {
    color: var(--primary);
  }
}

/* @media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: fixed;
    z-index: 5;
    background: unset;
  }

  .nav__height {
    position: fixed;
    background: var(--navbar);
    height: 15vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar__center, .navbar__center * {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 1.5rem;
    transition: all 0.5s ease-out;
  }

  .navbar2__center * {
    display: block;
  }

  .navbar2__center {
    position: relative;
    height: 100%;
    width: 40%;
  }

  .hamburger {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--white);
  }

  .navbar__left {
    position: absolute;
    top: 0;
    left: 40%;
    height: 6rem;
    width: 8rem;
  }

  .navbar2__center__links {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .navbar2__center__link {
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 700;
  }

  .navbar2__center__link .blog__dropdown {
    display: flex;
    cursor: pointer;
  }

  .dropdown__list {
    background: inherit;
    margin-top: -10px;
    margin-bottom: -15px;
    transition: all 0.5s ease-out;
    width: 80%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  .dropdown__list .dropdown__list__link {
    color: lightgrey;
    text-decoration: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
  }

  .dropdown__list .dropdown__list__link:hover {
    color: var(--primary);
  }
} */
