:root {
  --theme: #1a1a1a;
  --primary: #3480eb;
  /* --primary: #3480eb; */
  /* --primary: #E15200; */
  --secondary: #1a3e6f;
  --tertiary: #6aa5f8;
  --heading-color: #282938;
  --bg-shade: #b6bcc0;
  --github: #e62872;
  --black: #000000;
  --white: #ffffff;
  --navbar: #1a1a1a;
  --input: #2d2d2d;
  --custom: #0C1115;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  min-width: 650px;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

* {
  margin: 0;
  padding: 0;
}
