.ecard {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #00000061;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ecard__popup__body {
  position: relative;
  border: 4px solid var(--white);
  border-radius: 4px;
  background: var(--theme);
  color: var(--white);
  height: 90vh;
  width: 90vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.close__button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;
}

.close__button button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  background: none;
  color: var(--white);
}

.ecard__content {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

.ecard__top {
  height: 40%;
}

.ecard__top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ecard__middle {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.ecard__middle form {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* gap: 3rem; */
  /* box-sizing: border-box; */
  text-align: center;
}

.ecard__middle__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.clean {
  /* width: 100%; */
  /* height: 100%; */
}

.ecard__formkit__field {
  /* width: 100%; */
}

.ecard__formkit__field input {
  width: 50%;
  height: 2.5rem;
  border: none;
  padding: 0 1.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.ecard__formkit__submit {
  /* width: 60%; */
  /* height: 2.5em; */
  border: none;
  font-weight: 600;
  border-radius: 4px;
  background: var(--primary);
  color: var(--white);
  padding: 0.7rem 3rem;
}

.ecard__bottom {
  margin-top: 3rem;
  padding-left: 1rem;
}

.svg_icon {
  width: 20px;
}

.ecard__bottom__list ul {
  list-style: none;
  margin-top: 0.7rem;
}

.ecard__bottom__list ul li {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 1280px) {

  .ecard__bottom {
    font-size: 15px;
  }

  .ecard__bottom {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 769px) {
  .ecard__middle__title {
    font-size: 28px;
  }

  .ecard__formkit__field input {
    width: 80%;
    height: 3rem;
  }

  .formkit__submit {
    width: 80%;
    height: 2.5rem;
    padding: unset;
  }

  .ecard__bottom {
    font-size: 13px;
  }
}

@media screen and (max-width: 454px) {
  .popup__overlay__popup__body {
    padding: 1.5rem 1rem 0;
  }

  .ecard__top {
    height: 30%;
  }
  .ecard__middle__title {
    font-size: 22px;
  }

  .ecard__formkit__field input {
    width: 80%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .formkit__submit {
    width: 80%;
    height: 2.5rem;
  }

  .ecard__bottom {
    font-size: 13px;
  }

  .ecard__bottom {
    margin-top: 2rem;
    padding-left: unset;
  }
}
