.ecard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10rem;
  /* margin: auto; */
  box-sizing: border-box;
  z-index: 20;
}

.ecard__popup__body {
  border: 4px solid var(--white);
  border-radius: 4px;
  background: var(--theme);
  color: var(--white);
  width: 40%;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: auto;
  min-width: 500px;
}

.close__button {
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.close__button button {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: 700;
  background: none;
  border: none;
  color: var(--white);
}

.ecard__content {
  width: 100%;
  margin-top: -2rem;
  height: 100%;
  border: 2px solid transparent;
  /* border: transparent; */
  box-sizing: border-box;
  /* overflow: hidden; */
}

.ecard__top {
  width: 100%;
  box-sizing: border-box;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
}

.ecard__top img {
  width: 40%;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}

.ecard__middle {
  width: 100%;
  box-sizing: border-box;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecard__middle form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  box-sizing: border-box;
}

.ecard__middle__title {
  width: 100%;
  font-size: 1.6rem;
}

.ecard__clean {
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; */
}

.ecard__formkit__field {
  width: 100%;
}

.ecard__formkit__field input {
  width: 60%;
  height: 2rem;
  border: none;
  box-sizing: border-box;
  padding: 0 1.5rem;
  border-radius: 4px;
  margin-bottom: 0.2rem;
}

.ecard__formkit__submit {
  width: 60%;
  height: 2rem;
  border: none;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--primary);
  color: var(--white);
}

.ecard__bottom {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding-left: 1rem;
  /* min-width: 700px; */
}

.ecard__bottom__list ul {
  list-style: none;
}